body{
    background-image: url(../images/BackgroundImage.jpg);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #333;
}
h1 {

    font-family:Death-Star, sans-serif;
    color: white;
    text-align: center;
    font-size: 65px;
    text-shadow: 7px 7px 7px black;

}
h2 {
    font-family: aliens-and-cows, sans-serif;
    text-decoration: underline;
    font-size: 25px;
    color: cadetblue;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    border-block-end-width: 5px;
}
ul.b {
    list-style-type: square;
}
.contents
{
    clear: both;
    position: relative;
    left:15%;
    padding: 30px;
    border-radius:3px solid #7777;
    background-color:#fffF;
    box-sizing: border-box; 
	margin:20px;
}

.wrapper
{
    width: 960px;
    margin:0 auto 0 auto;
    padding: 10px;
}

.footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #666666;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}